[submodule "vendor/go.bug.st/serial.v1"]
	path = vendor/go.bug.st/serial.v1
	url = https://go.bug.st/git/serial.v1.git
[submodule "vendor/github.com/creack/goselect"]
	path = vendor/github.com/creack/goselect
	url = https://github.com/creack/goselect
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys